<div id="sidebar-container" class="bg">
   
    <div class="menu">
        <a class="d-block p-3 text-light"  [routerLink]="['category']"><i class="fa fa-shopping-cart"></i> Categories</a>
        <a class="d-block p-3 text-light"[routerLink]="['product']" ><i class="fa fa-shopping-bag"></i> Products</a>
        <a class="d-block p-3 text-light" ><i class="fa fa-user"></i> UserDetails</a>
        <a class="d-block p-3 text-light" > <i class="fa fa-shopping-basket"></i> Order</a>
    </div>
</div>